// Enter any custom Sass in this file.
.layout-frontpage-alt .goal-tiles .goal-tile,
.layout-goals .goal-tiles .goal-tile {
    width: 100%;
    max-width: 188px;
    max-height: 180px;
    @media screen and (min-width: 1024px) {
        max-width: 220px;
        max-height: 211px;
    }
}

#main-content .goal-tiles .pillar img {
    width: calc(100% - 10px);
}
body {
    background: white url("../img/SDG_watermark-logo.png") center center no-repeat;
}
#main-content {
    background: transparent;
}

.card .dsppac-image {
    max-width: 230px;
}
